
<html>
<head>
    <title>Earzy</title>
    <meta name='viewport' content='width=device-width' />
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="/Scripts/BlockBlobUpload.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="/Scripts/jplayer.playlist.min.js"></script>

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="/Content/jplayer.blue.monday.css">
    <link rel="stylesheet" type="text/css" href="/Content/earzy.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {

            var uri = 'api/tracks';
            $.getJSON(uri)
                .done(function (data) {

                    new jPlayerPlaylist(
                    {
                        jPlayer: "#jquery_jplayer_1",
                        cssSelectorAncestor: "#jp_container_1"
                    }, data,
                    {
                        swfPath: "../js",
                        supplied: "mp3",
                        smoothPlayBar: true,
                        keyEnabled: true
                    });

                    var uriartitst = 'api/tracks/getartists';
                    $.getJSON(uriartitst)
                            .done(function (data) {
                                var availableTags = data;

                                $("#artistssearch").autocomplete({
                                    source: availableTags
                                });

                                $("#auto").autocomplete({
                                    source: function (request, response) {
                                        var results = $.ui.autocomplete.filter(myarray, request.term);

                                        response(results.slice(0, 10));
                                    },
                                    select: function (event, ui) {
                                        //$("#project").val(ui.item.label);
                                        //$("#project-id").val(ui.item.value);
                                        //$("#project-description").html(ui.item.desc);
                                        //$("#project-icon").attr("src", "images/" + ui.item.icon);
                                        alert('fdfd' + ui.item.value);
                                        return false;
                                    }

                                });
                             

                            });
                });
        });
        //]]>
    </script>
</head>

<body style="background-color: black">
    @RenderBody()
    <div class="ui-widget">
        <label for="artistssearch">Artist: </label>
        <input id="artistssearch" />
    </div>
    <div>
        <form id="form1" runat="server">
            <table class="divHeader">
                <tr>
                    <td>
                        HTML5 Azure Blob Upload
                    </td>
                </tr>
            </table>
            <div align="center" class="divBody">
                <br />
                <div id="controlHost">
                    <div id="outerPanel">
                        <table width="100%" cellpadding="2" cellspacing="5">
                            <tr align="left">
                                <td colspan="2">
                                    <span class="message">Please select a file to upload</span>
                                </td>
                            </tr>
                            <tr align="left">
                                <td valign="top">
                                    <input type="file" id="FileInput" multiple="false" class="fileInput" />
                                </td>
                                <td align="right">
                                    <input type="button" id="upload" name="Upload" value="Upload" onclick="startUpload('FileInput', 1048576, 'uploadProgress', 'statusMessage', 'upload', 'cancel');"
                                           class="button" />
                                    <input type="button" id="cancel" name="Cancel" value="Cancel" disabled="disabled"
                                           onclick="cancelUpload();" class="button" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <progress id="uploadProgress" value="0" max="100" style="width: 100%; height: 10px"
                                              hidden="hidden" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left">
                                    <span id="statusMessage" class="message"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="jp_container_1" class="jp-video jp-video-270p">
        <div class="jp-type-playlist">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="jp-gui">
                <div class="jp-video-play">
                    <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
                </div>
                <div class="jp-interface">
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-current-time"></div>
                    <div class="jp-duration"></div>
                    <div class="jp-controls-holder">
                        <ul class="jp-controls">
                            <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
                            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                            <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                        </ul>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                        <ul class="jp-toggles">
                            <li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
                            <li><a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a></li>
                            <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                            <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                        </ul>
                    </div>
                    <div class="jp-title">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div><ul id='todo-items'></ul></div>
                </div>
            </div>
            <div class="jp-playlist">
                <ul>
                    <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                    <li></li>
                </ul>
            </div>
            <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
        </div>
    </div>

    <div>
        <input type="text" id="search" /><div style="background-color: azure" id="gosearch">Search</div>
    </div>

</body>
</html>