<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html id="htmlRoot" class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title data-bind='value: firstName'></title>
    <link rel="stylesheet" href="content/foundation.css">
    <link rel="stylesheet" href="content/jquery-ui-1.10.3.custom.css">
    <link href="~/Content/earzy.css" rel="stylesheet" />


    <script type="text/javascript" src="scripts/vendor/custom.modernizr.js"></script>
    <script type="text/javascript" src="scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="scripts/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="scripts/BlockBlobUpload.js"></script>
    <script type="text/javascript" src="scripts/jquery.dataTables.js"></script>
    <script type="text/javascript" src="scripts/earzy.js"></script>
   
</head>

<body>
   
        
    @RenderBody()
  
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="row">
                    <div class="large-4 columns">
                        <h2><img src="Content/EarzyLogo.png" style="width:50px;padding-bottom:10px" />Earzy</h2>
                    </div>
                    <div class="large-8 columns">
                        <a href="#" data-reveal-id="myModal">Upload a song</a>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-8 columns">
                                <div id="tablecontainer" style="padding:5px"></div>
                            </div>
                            <div class="large-4 columns">
                                <div class="support-links" style="border-left: 1px solid #1f1f1f; padding: 5px; height:100%">
                                    <p>Playlist: <strong>ALL</strong></p>

                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-2 columns ">
                            <div class="support-links">
                                <p>Songs: <strong><a id="nosongs" data-bind="text: nosongs"></a></strong></p>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="support-links" style="border-left:1px solid #1f1f1f; padding: 5px">
                                <p>
                                    <a href="#" class="tiny button"><img src="icons/Media-Rewind.png" style="height:32px" /></a>
                                    <a href="#" class="small button"><img src="icons/Media-back.png" style="height:40px" /></a>
                                    <a href="#" class="small button jp-play"><img src="icons/Media-Play.png" /></a>
                                    <a href="#" class="small button jp-pause"><img src="icons/Media-Pause.png" /></a>
                                    <a href="#" class="small button jp-stop"><img src="icons/Media-Stop.png" /></a>
                                    <a href="#" id="nextbutton" class="small button"><img src="icons/Media-back.png" style="height:40px" class="imgflip" /></a>
                                    <a href="#" class="tiny button"><img src="icons/Media-Fast-Forward.png" style="height:32px" /></a>
                                    <br />


                                    <table style="width: 100%;background:black">
                                        <tr>
                                            <td><div class=" jp-current-time" style="color: white"></div></td>
                                            <td><div class="jp-duration" style="width: 100%; text-align: right; color: white"></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">

                                                <div class="jp-progress" style="position:static">

                                                    <div class="jp-seek-bar" style="z-index:2000;">
                                                        <div class="jp-play-bar"></div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>

                                </p>
                            </div>
                        </div>
                        <div class="large-4 columns">
                            <div class="support-links" style="border-left: 1px solid #1f1f1f; padding: 5px; height:inherit">
                                <p>Artist: <strong><a data-bind="text: artist"></a></strong></p>
                                <p>Song: <strong><a data-bind="attr: { href: url},text: title"></a></strong></p>
                                <p>Album: <strong><a data-bind="text: album"></a></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.write('<script src=' +
            ('__proto__' in {} ? 'scripts/vendor/zepto' : 'scripts/vendor/jquery') +
            '.js><\/script>')
        </script>
        <script src="scripts/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        </div>
    <div id="myModal" class="reveal-modal">
        <form id="form1" runat="server">
            <div align="center" class="divBody">
                <br />
                <div id="controlHost">
                    <div id="outerPanel">
                        <table border="0" width="100%" cellpadding="2" cellspacing="5">
                            <tr align="left">
                                <td colspan="2">
                                    <span class="message">Please select a file to upload</span>
                                </td>
                            </tr>
                            <tr align="left">
                                <td valign="top">
                                    <input type="file" id="FileInput" multiple="false" class="fileInput" />
                                </td>
                                <td align="right">
                                    <input type="button" id="upload" name="Upload" value="Upload" onclick="startUpload('FileInput', 1048576, 'uploadProgress', 'statusMessage', 'upload', 'cancel');"
                                           class="button" />
                                    <input type="button" id="cancel" name="Cancel" value="Cancel" disabled="disabled"
                                           onclick="cancelUpload();" class="button" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <progress id="uploadProgress" value="0" max="100" style="width: 100%; height: 10px"
                                              hidden="hidden" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left">
                                    <span id="statusMessage" class="message"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>